:root {
  --color1: #314553;
  --color2: #64917C;
  --color3: #E0BF30;
  --color4: #FAC335;
  --color5: #D6642B;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color1);
  height: 100vh;
  font-family: monospace;
}